* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  outline: none;

  font-family: 'Inter', 'Arial', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  background-color: #E7F6FF;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
}

.uiButton {
  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #F2F2F2;
  border-radius: 8px;
}

.infoBlock {
  margin: 0 auto;

  width: 285px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;

  h4 {
    margin-top: 20px;

    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
  }

  p {
    margin: 10px 0 40px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .infoButton {
    position: relative;
    width: 235px;

    padding: 15px 0;

    color: #FFFFFF;
    background-color: #9DD558;
    border: none;
    border-radius: 18px;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    svg {
      position: absolute;
      left: 10%;
      top: 50%;

      width: 13px;
      height: 13px;

      transform: translateY(-50%) rotate(180deg);

      transition: left 0.2s ease-in-out;
    }

    &:hover {
      background: lighten(#9DD558, 3%);
      svg {
        left: 9%;
      }
    }

    &:active {
      background: darken(#9DD558, 3%);
    }
  }
}

.wrapper {
  margin: 85px auto;

  max-width: 1080px;
  width: 100%;

  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  background-color: #FFFFFF;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 45px 55px;

  border-bottom: 1px solid #EAEAEA;

  .headerLeft {
    display: flex;
    align-items: center;

    .headerLogo {
      width: 40px;
      height: 40px;
      fill: #000000;

      margin-right: 15px;
    }

    .headerInfo {

      h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #000000;
      }

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #9D9D9D;
      }

    }

  }

  .headerRight {
    display: flex;
    gap: 30px;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .headerCart {
      cursor: pointer;

      .headerCartCount {
        margin-left: 10px;

        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #5C5C5C;
      }

    }

  }

  .headerIcon {
    width: 20px;
    height: 20px;
    fill: none;
  }

}

.content {
  padding: 45px 55px;

  .contentHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .searchBlock {
      position: relative;

      display: flex;
      align-items: center;

      padding: 13px 19px;

      border: 1px solid #F3F3F3;
      border-radius: 10px;

      svg {
        width: 14px;
        height: 14px;

        fill: none;
      }

      input {
        margin: 0 15px;

        border: none;

        font-style: normal;
        line-height: 17px;
        color: #5C5C5C;

        &::placeholder {
          color: #C4C4C4;
        }

      }

      .searchClear {
        position: absolute;
        right: 15px;

        padding: 10px;

        border: none;
        background: none;

        &::after,
        &::before {
          content: '';

          position: absolute;

          width: 10px;
          height: 1px;

          background-color: #C4C4C4;
        }

        &::after {
          transform: rotate(45deg);
        }

        &::before {
          transform: rotate(-45deg);
        }
      }
    }

    &.favorites {
      justify-content: flex-start;
      gap: 20px;

      .uiButton {
        transition: all .2s ease;

        svg {
          fill: none;
          width: 12px;
          height: 12px;

          path {
            stroke: #D3D3D3;
            transition: stroke .2s ease;
          }
        }

        &:hover {

          border: 1px solid #9D9D9D;

          svg {
            path {
              stroke: #9D9D9D;
            }
          }
        }
      }
    }
  }

  .sneakers {
    margin: 40px 0;

    display: flex;
    flex-wrap: wrap;
    gap: 40px;

  }

}