* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  outline: none;

  font-family: 'Inter', 'Arial', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  background-color: #E7F6FF;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
}

.wrapper {
  margin: 85px auto;

  max-width: 1080px;
  width: 100%;

  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  background-color: #FFFFFF;
}

.cartWrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);

  z-index: 1;

  .cancelIcon {
    width: 32px;
    height: 32px;
    left: 1168px;
    top: 135px;

    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    border-radius: 8px;

    cursor: pointer;

    transition: all .2s ease-in-out;

    svg {
      width: 11px;
      height: 11px;
      fill: #D3D3D3;
      transform: rotate(45deg);

      transition: all .2s ease-in-out;
    }

    &:hover {
      border-color: #9D9D9D;

      svg {
        fill: #9D9D9D;
        transform: rotate(135deg);
      }

    }

  }

  .cartHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cart {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 420px;
    width: 100%;

    padding: 30px;

    background-color: #FFFFFF;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

    .cartTitle {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #000000;
    }

    .cartList {
      flex: 1;
      margin-top: 30px;
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      .cartItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;

        margin-top: 30px;
        padding: 20px;

        border: 1px solid #F3F3F3;
        border-radius: 20px;

        &:first-child {
          margin-top: 0;
        }

        img {
          width: 70px;
          height: 70px;
          object-fit: contain;
        }

        .cartItemInfo {
          width: 50%;

          h4 {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
          }

          b {
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
          }

        }

      }

    }

    .cartTotalBlock {

      li {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 7px;

        margin-top: 20px;

        div {
          position: relative;
          top: -4px;
          flex: 1;

          border-bottom: 2px dashed rgba(0, 0, 0, .1);
        }

      }

    }

    .cartConfirmOrder {
      position: relative;

      margin-top: 30px;

      padding: 15px 0;

      color: #FFFFFF;
      background-color: #9DD558;
      border: none;
      border-radius: 18px;

      font-size: 16px;
      font-weight: bold;

      cursor: pointer;

      svg {
        position: absolute;
        top: 50%;
        right: 15%;

        width: 16px;
        height: 16px;

        transform: translateY(-50%);

        transition: right 0.2s ease-in-out;
      }

      &:hover {
        background: lighten(#9DD558, 3%);

        svg {
          right: 14%;
        }
      }

      &:active {
        background: darken(#9DD558, 3%);
      }

    }

  }

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 45px 55px;

  border-bottom: 1px solid #EAEAEA;

  .headerLeft {
    display: flex;
    align-items: center;

    .headerLogo {
      width: 40px;
      height: 40px;
      fill: #000000;

      margin-right: 15px;
    }

    .headerInfo {

      h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #000000;
      }

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #9D9D9D;
      }

    }

  }

  .headerRight {
    display: flex;
    gap: 30px;

    li {
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;
    }

    .headerCart {

      .headerCartCount {
        margin-left: 10px;

        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #5C5C5C;
      }

    }

  }

  .headerIcon {
    width: 20px;
    height: 20px;
    fill: none;
  }

}

.content {
  padding: 45px 55px;

  .contentHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .searchBlock {
      display: flex;
      align-items: center;

      padding: 13px 19px;

      border: 1px solid #F3F3F3;
      border-radius: 10px;

      svg {
        width: 14px;
        height: 14px;

        fill: none;
      }

      input {
        margin-left: 15px;

        border: none;

        font-style: normal;
        line-height: 17px;
        color: #5C5C5C;

        &::placeholder {
          color: #C4C4C4;
        }

      }
    }
  }

  .sneakers {
    margin: 40px 0;

    display: flex;
    flex-wrap: wrap;
    gap: 40px;

  }

}